body{
  background-color: #222831;
  box-sizing: border-box;
}

.nav-box{
  background-color: #393E46;
  width: 90%;
  height: 50px;
  margin: 10px;
  padding: 20px;
  border: 2px solid black;
  white-space: nowrap;
  display:flex;
}

.website{
  font-size: 50px;
  color: #eeeeee;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 10px;
}

.search{
  font-size: 1.0em;
}

.search-box{
  margin: 50px;
  box-sizing:content-box;
  width: 1.0e,m%;
}

.submit{
  margin-left: 20px;
  position: relative;
  border: none;
  outline: none;
  width: fit-content;
  height: fit-content;
  background-color: #fd7014;
  font-size: 0.8em;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
#donationBox{
  margin: 20px;
  box-sizing: border-box;
  width: 200px;
  height:40px;
}
.amountChange{
  font-size: 40px;
}
/* button::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background-color:#13cf0d;
  z-index: -1;
  border-radius:7px;
  transform:translateY(5px);
} */

/* button:active{
  transform:translateY(5px);
}

button:active:before{
  transform: translateY(0);
} */

.menu{
  text-align: center;
  height:100px;
  width: 100%;
  color:white;
}
.donationLetter{
  font-size: 40px;
}

.small-box{
  font-size: 30px;
}

.todays-forecast-banner{
  width: auto;
  background-color: #fd7014;
  text-align: center;
  font-size: 40px;;
  border: 2px solid black;
  color:white;
  padding:5px;
}

.dayOfWeek{
  text-align:center;
  font-family
}

.weather-img{
  width: 100%;
  height: 60%;
}

.fullWeatherData{

  font-size: 1.0em;
  position: relative;
}

.place-and-time{
  width: auto;
  background-color: #fd7014;
  text-align: center;
  font-size: 2.0em;
  font-family:Arial, Helvetica, sans-serif;
  font-style:italic;
  border: 2px solid black;
  color:white;
  padding:5px;
}

#todays-forecast-container{
  background-color: #eeeeee;
  width: auto;
  height: fit-content;
  margin: 10px;
  padding: 20px;
  border: 2px solid black;
  overflow: hidden;
  white-space: nowrap
}

#todays-forecast{
  font-size: 2.5em;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  font-family: Arial, Helvetica, sans-serif;
  color:blue;
  
  -moz-animation: my-animation 20s linear infinite;
  -webkit-animation: my-animation 20s linear infinite;
  animation: my-animation 20s linear infinite;
}

.five-days-title{
  width: auto;
  background-color: #fd7014;
  text-align: center;
  font-size: 2.0em;
  font-family:Arial, Helvetica, sans-serif;
  font-style:italic;
  border: 2px solid black;
  color:white;
  padding:5px;
}

.parent-box{
  background-color: #393e46;
  width:auto;
  height: 400px;
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content:center;
  border: 2px solid black;
  color:black;
}

.forecast-card{
  /* display: flexbox; */
  background-color: #eeeeee;
  border: 2px solid black;
  width: 300px;
  height:370px;
] padding:10px;
  text-align:center;
  font-family:Arial, Helvetica, sans-serif;
}

.parent-weather-today{
  background-color: #393e46;
  height: 150px;
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content:center;
  border: 2px solid black;
}

.footer{
  width: auto;
  background-color: #fd7014;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-style:italic;
  font-size: 40px;
  border: 2px solid black;
  color:white;
  padding:5px;
}

.image{
  max-width:100%;
  max-height:100%;
}

.commentBox{
  background-color: #393e46;
  width:auto;
  height: 150px;
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content:center;
  border: 2px solid black;
  color:black;
}
#comments{
  width: 500px;
  height: 130px;
}

.commentSubmittedBox{
  background-color: #393e46;
  width:auto;
  height:fit-content;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align:center;
  border: 2px solid black;
  color:white;
  font-size: 20px;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }