body{
  background-color: #222831;
  box-sizing: border-box;
  
}
.nav-box{
  background-color: #393E46;
  width: auto;
  height: 150px;
  margin: 10px;
  padding: 20px;
  border: 2px solid black;
}

.website{
  font-size: 50px;
  color: #eeeeee;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 50px
}

.search{
  font-size: 30px;
}

.search-box{
  margin: 50px;
  box-sizing: border-box;
  width: 100%;
}

.submit{
  margin-left: 20px;
  position: relative;
  border: none;
  outline: none;
  width: 80px;
  height: 35px;
  background-color: #fd7014;
  font-size: 1.4rem;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

button::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background-color:#13cf0d;
  z-index: -1;
  border-radius:7px;
  transform:translateY(5px);
}

button:active{
  transform:translateY(5px);
}

button:active:before{
  transform: translateY(0);
}

.menu{
  text-align: center;
  height:50px;
  box-sizing: border-box;
  width: 95%;
  margin-top:20px;
  position:absolute;
  color:white;
}

.small-box{
  font-size: 30px;
}

.above-search-area{
  width: auto;
  background-color: #fd7014;
  text-align: center;
  font-size: 40px;;
  border: 2px solid black;
  color:white;
  padding:5px;
}

.search-area{
  background-color: #393e46;
  width: auto;
  height: 250px;
  margin: 10px;
  padding: 20px;
  border: 2px solid black;
}

.place-and-time{
  background-color: #eeeeee;
  width: auto;
  height: 50px;
  margin: 10px;
  border: 2px solid black;
}

#todays-forecast{
  background-color: #eeeeee;
  width: auto;
  height: 130px;
  margin: 10px;
  padding: 20px;
  border: 2px solid black;
  font-size: 40px;
}

.five-days-title{
  width: auto;
  background-color: #fd7014;
  text-align: center;
  font-size: 40px;;
  border: 2px solid black;
  color:white;
  padding:5px;
}

.parent-box{
  background-color: #393e46;
  width:auto;
  height: 200px;
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content:center;
  border: 2px solid black;
  color:black;
}

.forecast-card{
  background-color: #eeeeee;
  border: 2px solid black;
  width: 200px;
  height:200px;
}

.parent-weather-today{
  background-color: #393e46;
  height: 150px;
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content:center;
  border: 2px solid black;
}

.today{
  width: auto;
  background-color: #fd7014;
  text-align: center;
  font-size: 40px;;
  border: 2px solid black;
  color:white;
  padding:5px;
}

#child-weather{
  background-color: white;
  border: 2px solid black;
  width: 200px;
  height:50px;
  justify-content: space-evenly;
  align-self: baseline;
  padding: 30px;
  margin:25px,10px;
}
